html {
  width: 90%;
  margin: 0 auto;
}
h2 {
  font-size: $font-XL;
}

button {
  margin-top: 2rem;
  padding: 1rem;
  width: 15rem;
  border: none;
  background-color: $pink;
  color: $white;
  &:hover {
    color: $darkerGray;
    cursor: pointer;
  }
}
.fechaGrupa {
  > label {
    margin-left: 1rem;
  }
  > input {
    margin-left: 0.5rem;
  }
}
.socorroRosa {
  display: flex;
  flex-direction: column;

  &__titulo {
    color: $pink;
    text-align: left;
  }
  &__label {
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  }
  &__input {
    width: 50%;
    height: 3rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    padding: 2rem;
    font-size: $font-L;
    color: $darkGray;
    &--sub {
      height: 3rem;
    }
  }
  &__provincia {
    width: 50%;
    height: 4rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    padding-left: 2rem;
    font-family: $mainFont;
    font-size: $font-L;
    color: $darkGray;
  }
}

.subForm__2012,
.subForm__2013,
.subForm__2014,
.subForm__2015,
.subForm__2016,
.subForm__2017,
.subForm__2018,
.subForm__2019,
.subForm__2020 {
  display: none;
  margin-top: 2rem;
  width: 100%;
  padding: 2rem;
  border-bottom: 2px solid $pink;
}

.subForm__titulo {
  margin: 1rem 0 1rem 0;
}
.subForm__content {
  display: flex;
  flex-direction: column;
}
.subForm__input {
  font-size: $font-L;
  color: $darkerGray;
  height: 3rem;
  margin: 1rem 0 1rem 0;
  width: 30rem;
  border: none;
  border-radius: 0.5rem;
}
.subForm__numerico {
  font-size: $font-L;
  color: $darkerGray;
  height: 3rem;
  margin: 1rem 0 1rem 1rem;
  width: 10rem;
  border: none;
  border-radius: 0.5rem;
}

.subForm__base,
.subForm__actua {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  > select {
    margin-top: 1rem;
  }
}

.cuantasMudanza-2012,
.cuantasMudanza-2013,
.cuantasMudanza-2014,
.cuantasMudanza-2015,
.cuantasMudanza-2016,
.cuantasMudanza-2017,
.cuantasMudanza-2018,
.cuantasMudanza-2019,
.cuantasMudanza-2020 {
  display: none;
  width: 30rem;
}
.dondeGrupa-2012,
.dondeGrupa-2013,
.dondeGrupa-2014,
.dondeGrupa-2015,
.dondeGrupa-2016,
.dondeGrupa-2017,
.dondeGrupa-2018,
.dondeGrupa-2019,
.dondeGrupa-2020 {
  display: none;
}

.subForm__participa-2012,
.subForm__participa-2013,
.subForm__participa-2014,
.subForm__participa-2015,
.subForm__participa-2016,
.subForm__participa-2017,
.subForm__participa-2018,
.subForm__participa-2019,
.subForm__participa-2020 {
  display: none;
}
