html {
  width: 90%;
  margin: 0 auto;
}
h2 {
  font-size: $font-XL;
}
.success__Box {
  background-color: $lightGray;
  width: 100vw;
  height: 100vh;
}
.success__Message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
  color: $pink;
}

.cese_parrafo {
  font-size: $font-S;
  margin: 0;
}

.cese_title {
  margin-bottom: 0.5rem;
}
button {
  margin-top: 2rem;
  padding: 1rem;
  width: 15rem;
  border: none;
  background-color: $pink;
  color: $white;
  margin-bottom: 3rem;
  &:hover {
    color: $darkerGray;
    cursor: pointer;
  }
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
.control {
  position: absolute;
  left: 32rem;
  top: 4rem;
  width: 21rem;
  font-size: $font-S;
  text-align: justify;
  line-height: 2;
}
.fechaGrupa {
  > label {
    margin-left: 1rem;
  }
  > input {
    margin-left: 0.5rem;
  }
}
.socorroRosa {
  display: flex;
  flex-direction: column;

  &__titulo {
    color: $pink;
    text-align: left;
  }
  &__label {
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  }
  &__input {
    width: 50%;
    height: 3rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    padding: 2rem;
    font-size: $font-L;
    color: $darkGray;
    &--sub {
      height: 3rem;
    }
  }
  &__provincia {
    width: 50%;
    height: 4rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    padding-left: 2rem;
    font-family: $mainFont;
    font-size: $font-L;
    color: $darkGray;
  }
}

.subForm__2012,
.subForm__2013,
.subForm__2014,
.subForm__2015,
.subForm__2016,
.subForm__2017,
.subForm__2018,
.subForm__2019,
.subForm__2020,
.subForm__2021 {
  display: none;
  margin-top: 2rem;
  width: 100%;
  padding: 2rem;
  border-bottom: 2px solid $pink;
}

.subForm__titulo {
  margin: 1rem 0 1rem 0;
}
.subForm__content {
  display: flex;
  flex-direction: column;
}
.subForm__input {
  font-size: $font-L;
  color: $darkerGray;
  height: 3rem;
  margin: 1rem 0 1rem 0;
  width: 30rem;
  border: none;
  border-radius: 0.5rem;
}
.subForm__numerico {
  font-size: $font-L;
  color: $darkerGray;
  height: 3rem;
  margin: 1rem 0 1rem 1rem;
  width: 10rem;
  border: none;
  border-radius: 0.5rem;
}

.subForm__base {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  > select {
    margin-top: 1rem;
  }
}
.subForm__actua {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  > select {
    height: 100%;
    margin-top: 1rem;
    display: block;
  }
}
.selectActuo {
  > select {
    height: 50rem;
  }
}

.cuantasMudanza {
  display: none;
  width: 30rem;
}
.dondeGrupa {
  display: none;
}

.subForm__participa {
  display: none;
}
